.checkbox-default {
    appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid var(--border-primary);
    background: var(--background-secondary);
    border-radius: 0.375rem;
    cursor: pointer;
}

.checkbox-default:hover {
    border-color: var(--border-hover);
}

.checkbox-default:checked {
    background: url('../../assets/img/icon-checked.svg') no-repeat var(--color-brand);
    background-position: center;
    border-color: var(--color-brand);
}